*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h1{
	font-style: italic;
	text-align: center;

}

p{
	margin: 0;
	padding: 26px;

}
.row{
	width: 100%;
}
#div1,#div2,#div3 {
	border: none;
	padding: 10px;
	overflow: auto;

	float: left;
}
section {
	background-color: #E051FF;
	position: relative;
	
	border: 1px solid black;
}
.title{
	position: absolute ;
	right: 0;
	border: 1px solid black;
	padding: 5px;
	width: 55px;
	text-align: center;

}
#chicken {
	background-color:#82FF9C;

	
}

#beef {
	background-color: #FF8B7A;
	}

#sushi {
	background-color: #4EFFF7;
}
@media (min-width: 992px) {
	#div2{
		width: 33.33%;
	}
	#div1{
		width: 33.33%;
	}
	#div3{
		width: 33.33%;
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	#div2{
		width: 50%
	}
	#div1{
		width: 50%;
	}
	#div3{
		width: 100%;
	}

}
@media (max-width: 768px) {
	#div2{
		width: 100%
	}
	#div1{
		width: 100%;
	}
	#div3{
		width: 100%;
	}

} 
